/* Resets */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset-img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
hr{display:none;}
img{border:none;}
em{font-style:normal;}
/*strong{font-weight:normal;}*/
fieldset{border:none;}

/* General Tags */
body{font-size:11px;line-height:1.5em;}

body,
input,
select,
textarea{color:#333;font-family:Verdana, Geneva, sans-serif;}

input,
select,
textarea{border:1px solid #999;font-size:10px;padding:1px 2px;}

select{padding:0;}

a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}

#textContent h3{font-weight:700;margin-bottom:17px;}

/* Layout */
#all,
#topBar div{margin:0 auto;width:986px;}
#content{float:right;padding-bottom:34px;position:relative;width:790px;}
#sideBar{float:left;margin-left:8px;width:166px;}

.home #content{float:left;width:743px;}
.home #sideBar{float:right;margin:0;}

/* Pages */
#sideBar #sideInstitucional a,
#sideBar #sideServicos a{font-size:12px;line-height:1.7;}

/* Text content */
#textContent{margin:0 18px 0 4px;}
#textContent p{margin-bottom:17px;}

/* Special Styles */
/* ------------- */

/* Blue font color */
#topBar p a,
#cart,
#cart a,
#topNewsletter p,
#sideBar h2,
.navigator h3 a,
.navigator h5,
.vitrine .newPrice,
#collectionNavigation .selected a,
#footer h2,
.pager,
.flag.lancamento,
#pnlNaoSeguro em a,
#lnkLimparHistorico,
#history h3{color:#195073;}

/* Serif 16px italic */
#topNewsletter p,
#sideBar h2,
.navigator h3,
.navigator h5,
.flag.lancamento,
.vitrine h2{font-size:13px;font-weight:700;}

/* Image Replacement */
.imgRp{display:block;text-indent:-999em;}

/* Ajax Busy */
#ajaxBusy{position:absolute;}

/* ------------- */

/* Sprites */
#title a,
#menu h3 a,
#network a,
.vitrine .quickView a,
#cart a,
#breadCrumbs li,
.vitrine .category a,
.vitrine .brand a,
#footer h2,
#history h3{background-image:url("/arquivos/sprite-general.gif");background-repeat:no-repeat;}

/* Top Bar */
#topBar{background:#efefef;font-size:10px;}
#topBar div{overflow:auto;padding-top:2px;}
#topBar .ajax-content-loader,
#topBar .ajax-content-loader div{color:#999;float:left;padding-top:0;width:auto;}
#topBar p{color:#999;float:left;}
#topBar p,
#topBar .ajax-content-loader div{margin-left:12px;}
#topBar p a,
#topBar .ajax-content-loader a{margin-left:4px;text-decoration:underline;}
#topBar strong{font-weight:normal;}

#topBar ul{float:right;margin-right:5px;}
#topBar ul li{float:left;}
#topBar ul li a{background:url("/arquivos/tabs-bg.gif") right 2px no-repeat;color:#666;padding:0 7px}
#topBar ul li.last a{background:none;}

#pnlNaoSeguro a#lnkLogOut{color:#999;margin:0;}

/* Title and Cart */
#header{overflow:hidden;position:relative;_height:1%;}

#title a{background-position:8px 5px;color:#000;float:left;font:italic 22px "Times New Roman", Times, serif;height:51px;margin:3px 0 2px;padding:22px 0 0 232px;width:352px;}
#title a:hover{text-decoration:none;}
#title a span{display:none;}

#cart .title{_height:1%;}

#cart .title,
#cart li{display:none;}

#cart li.amount-items,
#cart a{background-position:right -200px;margin-top:6px;padding-right:43px;position:absolute;right:0;text-align:right;}

#cart li.amount-items{display:block;padding-top:11px;width:300px;}
#cart a{font-weight:700;height:20px;padding-top:29px;width:150px;}

/* Menu */
#menu{background:#195073;clear:both;overflow:hidden;margin:3px 0 4px;_height:1%;}
#menu a{color:#fff;}
#menu h3{float:left;}
#menu h3 a{background-position:right -70px;}
#menu h3 a,
#linkVipClub{font-weight:700;float:left;padding:6px 14px 5px 10px;_padding-top:5px;}
#menu h3 a:hover{text-decoration:none;}

#menu ul{background:#195073;border-top:4px solid #fff;display:none;margin:27px 0 0 8px;padding:5px;position:absolute;width:130px;}
#menu ul a{display:block;font-size:10px;padding:1px 4px 0;position:relative;_height:1%;}
#menu ul .lista-completa{border-top:1px dashed #fff;margin-top:8px;padding-top:2px;}

#menu #linkVipClub{color:#ededed;float:right;padding-left:8px;padding-right:11px;}

/* Search */
#search{padding:7px 0 13px 8px;}
.search select{margin-left:8px;}
.search legend{display:none;}
.search label{color:#7a7a7a;float:left;font-size:10px;font-weight:700;}
.search .fulltext-search-box{margin:0 8px 0 6px;width:216px;}

.ui-autocomplete{background:#fff;padding:5px;width:300px;}
.ui-autocomplete li{margin-bottom:3px;}
.ui-autocomplete img{margin-right:5px;vertical-align:middle;}

/* Banners and newsletter */
.home #topBanners{overflow:hidden;margin:0 0 8px 8px;_height:1%;}
#bottomBanners{margin-top:18px;overflow:auto;_height:1%;}
.home #bottomBanners{margin-left:8px;}
.box-banner img{display:block;}

#banner2,
#banner3,
#topNewsletter{float:right;width:305px;}

#banner1{float:left;}
#banner2{margin-bottom:8px;}
#banner3{margin-bottom:7px;}

#bannerBottom1{float:left;}
#bannerBottom2{float:right;margin-top:11px;}

#banner6{padding:6px 0 2px;}
#banner6 img{margin:0 auto;}

#topNewsletter div{border:1px solid #999;}
#topNewsletter fieldset{background:#eae9e8;height:100px;margin:3px;overflow:hidden;padding:0 5px 0 7px;}
#topNewsletter h3{display:none;}
#topNewsletter p{margin:9px 0 5px;}
#topNewsletter p:after{content:'.';}
#topNewsletter input{display:block;float:left;margin:4px 5px 0 0;}
#topNewsletter .newsletter-client-name{width:164px;}
#topNewsletter .newsletter-client-email{width:237px;}

/* Brands */
#brands{display:none;}

/* Collections */
.prateleira{border-bottom:1px solid #195073;}
.prateleira .prateleira{border:none;}
#collections{border-top:1px solid #195073;position:relative;width:100%;}

.vitrine{clear:both;overflow:hidden;_height:1%;}
.prateleira .vitrine{left:0;margin-top:6px;}
.vitrine .vitrine li{float:left;margin-right:70px;padding:34px 10px 0 0;position:relative;width:200px;}
.vitrine .vitrine li.last{margin-right:0;}
.vitrine li .data{margin:8px 0 15px 3px}

.home .vitrine li{margin-right:57px;}

.vitrine .highlight a,
.vitrine .price a{text-decoration:none;}

.vitrine img{height:200px;width:200px;}
.vitrine .price{font-size:12px;clear:both;}
.vitrine .price span span{display:none;}
.vitrine .oldPrice{margin-right:4px;text-decoration:line-through;}
.vitrine .newPrice{font-weight:700;}

.vitrine .quickView a{background-color:#ddd;background-position:-200px -110px;border:1px solid #ccc;color:#666;font-size:9px;line-height:1em;margin:2px 0 1px -2px;padding:1px 10px 4px 19px;position:absolute;}
.vitrine .quickView a:hover{text-decoration:none;}

.vitrine .category{margin-top:20px;}
.vitrine .installment,
.vitrine .category a,
.vitrine .brand a{display:block;font-size:10px;}
.vitrine .category a,
.vitrine .brand a{background-position:0 -280px;line-height:1.45em;padding-left:12px;}

.discount{color:#195073;font:italic 700 17px "Times New Roman", Times, serif;margin:2px 0;overflow:hidden;}
.discount .flag{float:left;margin-right:8px;}

.flag.exclusivo{background:url("/arquivos/flag-exclusivo.gif");height:29px;text-indent:-999em;width:166px;}
.flag.lancamento{font-size:19px;}

.vitrine .flag.vip---5-{color:#0f0d0e;}
.vitrine .flag.exclusivo{left:2px;position:absolute;top:0;}
.vitrine .flag.lancamento{background:url("/arquivos/flag-lancamento.png");height:96px;position:absolute;right:0;text-indent:-999em;top:149px;width:114px;}


/* Pager */
.pager{clear:both;overflow:auto;_height:1%;}
.pager ul{background:#eae9e8;float:right;padding:2px 5px;}
.pager li{cursor:pointer;float:left;padding:1px 7px 2px;}

.resultado-busca-filtro{overflow:hidden;margin:8px 0;}
.resultado-busca-filtro fieldset,
.resultado-busca-filtro p{float:left;margin-right:20px;}
.btn-comparar{margin-left:15px;}

/* Home Collection Navigation */
#collectionNavigation{padding-bottom:4px;overflow:hidden;_height:1%;}
#collectionNavigation li{float:left;}
#collectionNavigation a{display:block;font-size:15px;padding:3px 9px;background:url("/arquivos/tabs-bg.gif") right 5px no-repeat;}
#collectionNavigation .last a{background:none;}

/* sideBar */
#sideBar h2,
.navigator h3,
.navigator h5{background:#eae9e8;padding:5px 8px 9px;margin-bottom:9px;}
#sideBar .linkList ul,
.navigator ul,
.navigator h4{margin-left:10px;}
#sideBar .linkList a{font-size:10px;}
#sideBar .sideBarItem,
.navigator ul,
.navigator{margin-bottom:16px;}

/* History */
#history{clear:both;overflow:hidden;}
#pLimparHistorico{margin:15px 0 0 24px;}
#ulUltimosProdutos{margin:5px 0 0 24px;}

/* Footer */
#footer{clear:both;font-size:10px;margin:0 0 25px 8px;overflow:auto;padding:34px 6px 0 0;_height:1%;}
.home #footer{padding-top:0;}
#footer h2,
#history h3{background-position:0 -300px;border-bottom:1px solid #195073;font-size:15px;padding:8px 0 8px 23px;}
#footer h2 span{display:none;}
#footer h3,
#history h4{font-size:12px;font-weight:700;margin-bottom:17px;}
#footer .itemGroup{display:inline;float:left;margin:5px 0 0 24px;}
#footer .columnList a{line-height:1.8em;}

#footerServices{width:153px;}
#footerInstitutional{width:179px;}
#footerVipClub{width:145px;}

.department #footerNewsletter{display:none;}
.department #footerNews{width:390px;}

#network li{float:left;}
#network a{display:block;height:31px;margin-right:5px;width:30px;}
#ntBlog{background-position:0 -150px;}
#ntTwitter{background-position:-30px -150px;}
#ntYoutube{background-position:-60px -150px;}
#ntFacebook{background-position:-90px -150px;}

#footer #footerNewsletter{float:right;margin-left:0;margin-right:5px;width:159px;}
#footerNewsletter input{margin-top:3px;width:155px;}
#footerNewsletter p:after{content:':';}
#footerNewsletter p span{display:none;}
#footerNewsletter p span.subTitle{display:inline;text-transform:capitalize;}
#footerNewsletter .btn-ok{float:right;margin-right:2px;width:auto;}

#footerSearch,
#footerCredits{background:#eae9e8;}
#footerSearch{padding:15px 23px 13px 11px;}
#footerCredits{font-size:10px;margin:7px 0;padding-top:15px;text-align:center;}
#footerCredits p{padding:24px 0;}

#footerCredits ul{overflow:auto;margin:0 auto;width:784px;_height:1%;}

#footerCredits li,
#footerCredits li a{display:inline;float:left;}
#footerCredits li a{background-image:url("/arquivos/sprite-footer.jpg");height:42px;margin:0 5px;}

#logoBuscape{width:110px;}
#logoBondFaro{background-position:-120px center;width:96px;}
#logoEbit{background-position:-220px center;width:42px;}
#logoUndefined1{background-position:-270px center;width:42px;}
#logoUndefined2{background-position:-320px center;width:38px;}
#logoInternet{background-position:-360px center;width:68px;}
#logoCamara{background-position:-435px center;width:118px;}
#logoVtex{background-position:-560px center;width:84px;}
#logoBlindado{background-position:-655px center;width:96px;}

/* Department Navigator */

/* Bread Crumbs */
#breadCrumbs{margin:5px 0 9px 0;overflow:hidden;_height:1%;}
#breadCrumbs li{background-position:right -260px;float:left;margin-right:5px;padding-right:20px;}
#breadCrumbs li.last{background:none;}
#breadCrumbs strong{font-weight:normal;}

#breadCrumbs a,
h2.titulo-sessao{color:#353535;}

#breadCrumbs,
h2.titulo-sessao{margin-left:4px;}

/* Titulo da pagina */
h2.titulo-sessao{font-size:27px;line-height:1.5em;margin-bottom:15px;text-transform:uppercase;}

/* Special Stores */
#specialStores li{padding:9px 0;}
#specialStores a{background:url("/arquivos/sprite-special-stores.jpg");display:block;}
#storePrada a{height:17px;width:92px;}
#storePuma a{background-position:0 -40px;height:32px;width:63px;}
#storeMonte a{background-position:0 -80px;height:29px;width:51px;}
#storeLouis a{background-position:0 -120px;height:11px;width:98px;}
#storeYves a{background-position:0 -160px;height:20px;width:99px;}



