.vtexsc-overlay, .vtexsc-buttonOverlay{position:absolute; top:0; left:0; z-index:2; width:100%; height:100%; display:none; background:url("/arquivos/ajax-loader.gif") no-repeat center center #FFF; opacity:0.6; filter:Alpha(opacity=60);}
.vtexsc-newItem td{background:url("/arquivos/vtexsc-bgbody.jpg");}
.vtexsc-productList li{position:relative;}
.vtexsc-cart{display:none; width:484px;}
.vtexsc-wrapBtn{position:relative; float:right; height:56px; width:198px; clear:both;}

/* Marca Fácil */
.vtexsc-arrowTop, .vtexsc-arrowBottom{height:12px; cursor:pointer;}
.vtexsc-arrowTop{background:url("/arquivos/vtexsc-arrowTop.png") no-repeat center bottom; margin-bottom:6px;}
.vtexsc-arrowBottom{background:url("/arquivos/vtexsc-arrowBottom.png") no-repeat center top; margin-top:6px;}
.vtexsc-bt{height:5px; background:url("/arquivos/vtexsc-cartBorderTop.png");}
.vtexsc-center{background:url("/arquivos/vtexsc-cartBorderCenter.png") #EEEEEE;padding-bottom:45px;}
.vtexsc-bb{height:5px; background:url("/arquivos/vtexsc-cartBorderBottom.png");}
#topBar{position:relative;}
.vtexsc-cart{position:absolute; right:0; top:72px; z-index:999;}
.floatingCart{position:fixed; top:53px;}
.vtexsc-wrap{margin:0 9px; background:#FFF; padding:0 8px; overflow:hidden; position:relative; max-height:200px;}
.vtexsc-productList td{padding:5px; position:relative; border-top:1px solid #A2A2A2;height:66px;}
.vtexsc-productList tbody tr:first-child td{border:none;}
.vtexsc-productList td *{font-size:11px; font-weight:normal;}
.vtexsc-cart .cartSkuImage img{max-width:34px; max-height:34px;}
.vtexsc-cart .cartSkuMoreOne, .vtexsc-cart .cartSkuMinusOne{display:block; width:9px; height:8px; cursor:pointer;}
.vtexsc-cart .cartSkuMoreOne{background:url("/arquivos/vtexsc-more.png"); margin-bottom:4px;}
.vtexsc-cart .cartSkuMinusOne{background:url("/arquivos/vtexsc-minus.png");}
.vtexsc-cart .cartSkuRemove{background:url("/arquivos/vtexsc-remove.png"); width:16px; height:15px; display:block; margin-top:4px; cursor:pointer;}
.vtexsc-cart td.cartSkuPrice *{white-space:nowrap;}
.vtexsc-cart .cartSkuPrice span{font-weight:bold;}
.vtexsc-cart .cartSkuPrice span:first-child{color:#4047A1;font-size:12px;}
.vtexsc-cart .cartSkuQtt{position:relative; padding-right:16px;}
.vtexsc-cart .cartSkuQttTxt{display:block; padding:0; width:33px;line-height:24px; min-height:24px; text-align:center; background:url("/arquivos/vtexsc-qttBg.png") no-repeat center center;}
.vtexsc-cart .cartSkuChangeQttWrap{display:block; position:absolute; right:0; top:0;margin-top:2px;}
.vtexsc-cart .cartSkuActions .cartSkuChangeQttWrap{display:none;}
.vtexsc-productList{width:100%;}
.vtexsc-productList .sku-imagem{display:block;border:1px solid #F1F1F1;}

.vtexsc-cart .cartFooter{margin:0 9px;}
.vtexsc-cart .cartTotal{float:left; position:relative;}
.vtexsc-cart .cartTotal{color:#666666; font-size:12px; text-transform:uppercase;margin-top:10px;}
.vtexsc-cart .cartTotal *{color:#4047A1; font-size:16px; text-transform:uppercase; font-weight:bold;}
.vtexsc-cart .cartFooter >a{float:right; display:block;}
.vtexsc-cart .cartCheckout{background:url("/arquivos/vtexsc-checkout.png") #2F9734; width:197px; height:42px; margin-left:3px;}
.vtexsc-cart .viewCart{background:url("/arquivos/vtexsc-showCart.png") #982325; width:130px; height:34px;}

.vtexsc-cart tr.brinde{display:none;}

.header-top{position:relative; z-index:9999;}

/* Floating top Bar */
.floatingTopBar{display:none; height:49px; position:fixed; top:0; left:0; z-index:20000; background:url(/arquivos/sc_bg_fadebar.png) bottom left repeat-x;width: 100%;}
.floatingTopBarWrap{width:1000px; margin:0 auto;}

/* Pop up */
.selectSkuTitle{ background: url("/arquivos/sprite_title.png") repeat-x scroll 2px -200px transparent;color: #444444;font-size: 14px; font-weight: bold; margin: 0; padding: 5px;} 	 	
.skuListWrap_{padding:8px;}
.skuListWrap_ .item_unavaliable{text-decoration:line-through;}
.vtexsc-buyButton{background:url("/arquivos/sprite.png") -379px -279px; display:block; height:28px; float:right; width:174px;}
.vtexsc-buttonWrap{padding:0 10px 10px 0;}

/* Box Pop up */
.boxPopUp2,.boxPopUp2-overlay{display:none;}
.boxPopUp2{position:absolute; top:50px; width:100%; text-align:center; z-index:999999; left:0;}
.boxPopUp2-overlay{background:#000; position:fixed; left:0; top:0; width:100%; height:100%; opacity:0.5; filter:alpha(opacity=50); z-index:999998; cursor:pointer;}
.boxPopUp2-wrap{width:411px; margin:0 auto; text-align:left; position:relative;}
.boxPopUp2-content{background: none repeat scroll 0 0 #EFEFEF; border-radius: 5px 5px 5px 5px;padding: 5px;width: 400px;z-index: 102;}
.boxPopUp2-content iframe{width:100%; min-height:185px;}
.boxPopUp2-close{cursor:pointer;background: url("/arquivos/btExcluir.gif") no-repeat scroll 0 0 transparent;display: block; font-size: 0; height: 15px; position: absolute; right: 12px; text-indent: -9000px; top:10px; width: 16px;} 
.vtexsc-buyButton{background: url("/arquivos/sprite.png") no-repeat scroll -620px 0 transparent; font-size: 0; height: 40px; text-indent: -9000px; width: 156px;} 
.vtexsc-buttonWrap:before,.vtexsc-buttonWrap:after{content:"";display:table;} .vtexsc-buttonWrap:after{clear:both;} .vtexsc-buttonWrap{zoom:1;}	

.vtexsc-selectSku li.specification{font-size:14px;font-weight:bold;margin:11px 0 3px;}

.freeContentPopup .skuList >span{padding:10px;}
.freeContentPopup .skuList >span >label{margin:0 11px 0 3px;}
/* .freeContentPopup .group_0 label{padding:10px;display:block} */

.vtexsc-skuProductImage{float:left;border:1px solid #9F9F9F;margin:10px 10px 0 0;height:80px;}
.vtexsc-skuProductImage img{width:80px;height:80px;}

div.wrapper-buy-button-asynchronous .asynchronousBuyButton{background:url("/arquivos/sprite.png") 0 -203px;width:182px;height:32px;margin:0 auto;display:block;text-indent:-9999pc;}
div.wrapper-buy-button-asynchronous .asynchronousBuyButton:hover{background-position:0 -242px;}

/* Elementos dentro da Barra */
.floatingTopBar .fulltext-search-box {background: url("/arquivos/bg_busca.jpg") repeat-x; border: medium none; border-radius: 5px 5px 5px 5px; color: #9E9E9E; font-size: 12px; height: 22px; line-height: 16px; padding: 1px 5px; width: 400px;}
.floatingTopBar .search {float: left;margin: 6px 0;}
.floatingTopBar .busca select, .floatingTopBar .busca legend, .floatingTopBar .busca label {display: none;}
.floatingTopBar .btn-buscar {background-color: transparent; background-image: url("/arquivos/sc_fadebar_sprite.png"); background-position: -165px -9px; background-repeat: no-repeat; border: medium none; font-weight: bold; margin: 2px 5px 0; padding: 3px 6px 7px; text-align: center; width: 82px; } 
.floatingTopBar ._logo { background-image: url("/arquivos/sc_fadebar_sprite.png"); background-position: 0 0; background-repeat: no-repeat; float: left; height: 38px; margin-right: 20px; text-indent: -999em; width: 162px;}

.floatingTopBar .cartInfo {background: url("/arquivos/sc_fadebar_sprite.png") -8px -41px; float: left; margin: 8px 0 0; padding: 6px 0 8px 165px; width: 123px;position:relative;}
.floatingTopBar .cartInfo .linkCart {position:absolute; left:0;top:0px;width:100%;height:100%;text-indent:-999em;}

.floatingTopBar .title, .floatingTopBar .amount-kits, .floatingTopBar .amount-products, .floatingTopBar .total-cart span{display:none;}
.floatingTopBar .cartInfo li{float:left; margin:0; border-left:1px solid #000; font-size:11px; padding:0 2px;}
.floatingTopBar .cartInfo .amount-items{border:0 none;}
.floatingTopBar .cartInfo span{font-weight:normal;}
.floatingTopBar .cartInfo em {font-style:normal;}

.vtexsc-skuProductPrice .regularPrice{display:none !important;}
.vtexsc-skuProductPrice{margin:8px 0 14px 93px;}